body {
    background: linear-gradient(135deg, #000, #111);
    color: white;
    font-family: Arial;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.glass {
    background: rgba(255,255,255,0.05);
    backdrop-filter: blur(15px);
    border: 1px solid rgba(255,255,255,0.1);
    padding: 40px;
    border-radius: 20px;
    text-align: center;
    width: 350px;
}
